<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="changePassword">
		<div class="panel-body">
			<!-- Modal -->
			<div class="modal fade" id="changePassword" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h2 class="modal-title" id="myModalLabel">Change Password</h2>
						</div>
						<div class="modal-body">
							<form id="passwordForm" action="/user/login/save" method="POST">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 mb-5">
											<label for="password">New Password</label>
											<input type="password" class="form-control" data-minlength="20" id="password" name="password" placeholder="New Password" required="true"/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 mb-5">
											<label for="confirmPassword">Confirm Password</label>
											<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" data-match="#password" data-match-error="Whoops, these don't match" required="true"/>
										</div>
									</div>
								</div>
								<input type="hidden" name="loginId"/>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id="sendPasswordForm">Save changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- .panel-body -->
	</div>
</body>
</html>